<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @activity_record.activity %>
</p>

<p>
  <strong>Record date:</strong>
  <%= @activity_record.record_date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @activity_record.quantity %>
</p>

<%= link_to 'Edit', edit_activity_record_path(@activity_record) %> |
<%= link_to 'Back', activity_records_path %>
