<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Metric:</strong>
  <%= @activity.metric %>
</p>

<p>
  <strong>Periodicity:</strong>
  <%= @activity.periodicity %>
</p>

<p>
  <strong>Type:</strong>
  <%= @activity.activity_type %>
</p>

<p>
  <strong>Method:</strong>
  <%= @activity.method %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
